@charset "utf-8";
/* CSS Document */
.sitemap_area {
  width: calc(33.33% - 57px);
  margin: 0 27px 35px 27px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.map_title {
  margin-bottom: 10px;
  padding: 3px 13px;
  background: #a9c426;
}
.map_title h5 {
  font-size: 18px;
  color: #fff;
  background: url(../assets/images/icon014.gif) no-repeat right 9px;
}

.sitemap_list {
  padding: 0 10px;
  line-height: 25px;
}
.sitemap_list a {
  color: #252525;
}
.sitemap_list a:hover {
  color: #a9c426;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .sitemap_area {
    width: calc(50% - 32px);
    margin: 0 15px 25px 15px;
  }
}
@media screen and (max-width: 480px) {
  .sitemap_area {
    width: 100%;
    margin: 0 0 15px 0;
  }
}
