@charset "utf-8";
/* CSS Document */
.support_list {
  margin: 0 auto 40px auto;
  text-align: left;
}
.support_list li {
  padding: 8px 10px 6px 30px;
  background: url(../images/icon009.png) no-repeat 6px 18px;
  border-bottom: #a7d1dc dashed 1px;
}
.support_list li p {
  display: inline-block;
  vertical-align: top;
}
.support_list li p.sup_title {
  width: calc(100% - 133px);
  padding: 2px 10px 0 0;
  color: #353535;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.support_list li p.sup_btn {
  width: 120px;
}
.download_btn {
  width: 94px;
  height: 23px;
  cursor: pointer;
  padding: 5px 0 0 28px;
  background: url(../images/icon012.gif) no-repeat 6px 7px #a9c426;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  display: inline-block;
}
.download_btn:hover {
  background: url(../images/icon013.gif) no-repeat 6px 7px #ffc000;
}

.down_s_title {
  margin-bottom: 15px;
  padding: 3px 0;
  background: #959595;
  text-align: center;
}
.down_s_title h5 {
  color: #fff;
  font-family: "Lato", "Oxygen", Verdana, sans-serif;
  font-size: 25px;
}
.down_search {
  width: 100%;
  max-width: 760px;
  margin: 0 auto 20px auto;
  padding-bottom: 15px;
  background: #ededed;
  text-align: left;
  position: relative;
}
.down_search .sh_list {
  width: calc(100% - 90px);
}
.down_search .sh_list .sh_list2 {
  display: inline-block;
}
.down_search .sh_list .sh_list2:first-child {
  width: 42%;
}
.down_search .sh_list .sh_list2:last-child {
  width: 57%;
}
.down_search .sh_list .sh_list2 span {
  width: 85px;
  padding: 0 10px 0 0;
  vertical-align: middle;
  display: inline-block;
  text-align: right;
}
.down_search .sh_list .sh_list2 select {
  width: calc(100% - 100px);
}
.down_title {
  width: 100%;
  max-width: 700px;
  margin: 0 auto 20px auto;
  text-align: center;
  color: #ff0048;
  font-size: 20px;
  font-weight: bold;
}
.down_img {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.down_img img {
  width: 100%;
  display: block;
}
.down_btn {
  position: absolute;
  right: 10px;
  bottom: 15px;
}

@media screen and (max-width: 660px) {
  .down_s_title h5 {
    font-size: 18px;
  }
  .down_search {
    padding-bottom: 50px;
  }
  .down_search .sh_list {
    width: 100%;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .down_search .sh_list .sh_list2 {
    display: block;
  }
  .down_search .sh_list .sh_list2:first-child {
    width: 100%;
    margin-bottom: 10px;
  }
  .down_search .sh_list .sh_list2:last-child {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .support_list li p.sup_title {
    width: 100%;
    margin-bottom: 10px;
    padding-right: 0;
    display: block;
  }
  .support_list li p.sup_btn {
    width: 100%;
    display: block;
    text-align: right;
  }
  .download_btn {
    text-align: left;
  }
}
